{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid p-2 row justify-content-around" style="margin-top: 3%;">


        <?php include 'search.php'; trouve(); ?>


    </div>
{% endblock %}