body {
    height: 100%;
    width: 100%;
    margin: auto;

}

h1,
h2 {
    margin: auto;
    text-align: center;
}

.dash {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.menuDash {
    width: 10%;
    justify-content: space-around;
    margin-top: 15px;
}
.menuDash a {
    margin-top: 15px;
    margin-bottom: 15px;
}

.insideDash {
    width: 80%;
    margin-top: 15px;
    text-align: center;
}
/*.list {*/
    /*width: 50%;*/
/*}*/

.rounded {
    background-color: darkgrey;
}

/*NavBar*/
.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-150px);
    transition: .5s ease all;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
    transition: .5s ease all;
}

/*
.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
    transition: .5s ease all;
}
*/

.formNavBar {
    width: 300%;
}

/*Search*/
.formSearch {
    width: 40%;
    border: 1px solid black;
    padding: 5px;
}

/*Input SignIn*/
.formSignIn {
    width: 35%;
    height: 20%;
    margin: auto;
    margin-top: 1%;
    border: 1px solid #e9e9e9;
    background-color: #ededed;
    border-radius: 20px;
    padding: 1%;
}

.btnSignIn {
    margin-top: 1%;
    width: 25%;
}


/*Video Background*/
#bgVideo {
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;
}

.titreMainPage {
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    width: 40%;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    text-align: center;
}

.ecran {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.searchSolo,
.searchGrp {
    width: 40%;
    font-size: 1.6em;
    margin-top: 2%;
}


.container {
    margin-top: 3%;
}


.row {
    width: 100%;
}



#carouselSearch {
    margin: auto;
    width: 95%;

}

.carousel-inner {
    margin-top: 0.4%;
    height: 500px;
}

footer {
    padding: 10px 16px;
    width: auto;
    text-align: left;
    vertical-align: middle;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #343a40;
}


/*//////////////////////////////////////////////////////////////////*/
.container-fluid {
    margin-top: 3%;
    width: 70%;
    margin: auto;
}

.card-deck {
    margin: 5px 9px;
}

.card-deck .card {
    margin-bottom: 15px;
    min-width: 30%;
}
.card {
    margin-bottom: 15px;
}

.updateLink {
    color: black;
}
.updateLink:hover {
    color: black;
}
#editPr {
    font-size: 3em;
}

@media screen and (max-width: 450px) {
    .card-img-top {
        width: 70%;
        margin: auto;
    }
    .card {
        max-width: 100%;
    }
    #carouselSearch {
        display: none;
    }
    .formSearch {
        width: 95%;
    }
    .row {
        margin: auto;
    }
    .titreMainPage {
        width: 100%;
        padding: 9%;
        margin-top: 10%;
    }
    .formSignIn {
        margin-top: 20%;
        width: 100%;
    }
    #registration_form_group {
        display: inline-flex;
        width: 50%;
        justify-content: space-around;
    }
    #edit_form_group {
        display: inline-flex;
        width: 50%;
        justify-content: space-around;
    }
}